<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Education and professional experience</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/georgia-tech.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Present</h4>
                                    <h4 class="subheading">Researcher</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Georgia Tech Lorraine, France
                  <br>GT-CNRS UMI 2958
                  <br>PIs: Prof. Surya Kalidindi, Prof. Mohammed Cherkaoui
                  <br>Topics: materials informatics, modeling and simulations, advanced steels</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/postech.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Postdoc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">POSTECH, Korea
									<br>Center for Advanced Aerospace Materials
									<br>PI: Prof. Hyoung Seop Kim
									<br>Topics: micromechanics, advanced steels, architectured materials</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/postech.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Ph.D.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">POSTECH, Korea
									<br>Dept. Materials Science and Engineering
									<br>Advisor: Prof. Hyoung Seop Kim
									<br>Topics: crystal plasticity, finite elements, twist extrusion, composites</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/usatu.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2011</h4>
                                    <h4 class="subheading">Dipl.-Ing.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">USATU, Russia
									<br>Specialization: Physics of Metals
									<br>Advisor: Prof. Igor V. Alexandrov
									<br>Co-advisor: Dr. Roza Chembarisova
									<br>Topics: analytical modeling, Al-Mg alloys</p>

                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
