  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                        {% for network in site.academic %}
                        <li><a href="{{ network.url }}"><i class="ai ai-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://scholar.google.co.kr/citations?user=We5aJywAAAAJ&hl=ru">Google Scholar</a>
                        </li>
                        <li><a href="http://www.scopus.com/authid/detail.url?authorId=38761621500">Scopus</a>
                        </li>
						<li><a href="mailto:{{ site.email }}">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
